body {
	margin: 0 auto;
	font-family: trebuchet,arial,tahoma,verdana,sans-serif;
	font-size: 11px;
	background: #FFFFFF;
}

a {
	outline: 0;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 40px;
	color: #EEEEEE;
	background: rgba(110,109,113,1);
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	z-index: 3;
}

.user {
	//display: inline-block;
	width: 10%;
	position: absolute;
	right: 0px;
	top: 5px;
	font-size: 11px;
}

.user p {
	margin: 0;
}

/* Mise en forme du menu */
.menu {
	width: 460px;
	height: 40px;
	margin: 0 auto;
}

.menu dl {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.menu dl dt {

}

.menu dl dt a {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	border-radius: 10px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
	font-size: 12px;
	border-left: 1px solid #565659;
	border-right: 1px solid #565659;
	color: #EEEEEE;
}

.menu dl dt a:hover {
	background: rgba(110,109,113,0.5);
	box-shadow: 2px 0 16px rgba(0, 0, 0, 0.6) inset;
}

.current {
	background: rgba(110,109,113,0.5);
	box-shadow: 2px 0 16px rgba(0, 0, 0, 0.6) inset;
}

.separateur {
	display: inline-block;
	float: left;
	width: 1px;
	height: 40px;
	background: rgba(110,109,113,1);
}


/* Mise en forme du contenu */
.content {
	width: 960px;
	margin: 0 auto ;
	padding: 55px 0 0 0;
}

#radio label {
	width: 136px;
}

/* Mise en forme du formulaire de connexion */
.tableauConnexion {
	width: 400px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

.tableauConnexion tr {
	height: 50px;
}

.tableauConnexion td {
	padding: 20px;
}

.tableauConnexion input[type="text"], .tableauConnexion input[type="password"] {
	height: 25px;
	width: 150px;
	padding-left: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4) inset;
	border: 1px solid white;
	border-radius: 3px;
}

/* Mise en forme du "formulaire" de recherche */

.divRecherche fieldset table {
	height: 300px;

}

.divRecherche input[type="text"] {
	width: 130px;
}

.content fieldset {
	border-radius: 10px;
	border: 2px solid #EEEEEE;
	margin-bottom: 20px;
}

/*Mise en forme du resultat de recherche*/

.resultat table {
	width: 100%;
	border-collapse: collapse;
}

.resultat table td, .resultat table th {
	border: 1px solid #EEEEEE;
	border-collapse: collapse;
	text-align: center;
}

.resultat table tr {
	height: 30px;
}

/*Mise en forme du formulaire d'insertion*/
.inserer table {
	width: 400px;
}

.inserer input[type="text"] {
	height: 25px;
	width: 198px;
	padding-left: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4) inset;
	border: 1px solid white;
	border-radius: 3px;
}

.inserer input[type="file"] {
	width: 198px;
}



.inserer table tr {
	height: 50px;
}

.inserer select {
	width: 200px;
}

.inserer table td {
	text-align: center;
}

#imgAjouter {
	width: 16px;
	height: 16px;

}

/* Mise en forme du pied de page */
.footer {
	width: 100%;
	height: 40px;
	background: linear-gradient(to bottom, #CCC, #FFF);
	box-shadow: 0 0 5px #000;
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: center;
	z-index: 3;
}
